<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>
	.page-header {
		background-image: url("assets/fortress-4145446_1920.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) !important;
		background-position: center !important;
	}
	.project-name {
		color: #fff !important;
	}
	.project-tagline {
		color: #fff !important;
		opacity: 0.8;
	}
	.jumbotron {
		position: relative;
		background-image: url("assets/fortress-4145446_1920.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 40em;
		display: flex;
	  	align-items: center;
	}
	.header {
		background: #00000096;
		padding: 1rem;
		margin: auto;
	}
	h2 {
		scroll-margin-top: 10rem;
	}
	h3 {
		scroll-margin-top: 10rem;
	}
	h4 {
		scroll-margin-top: 10rem;
	}
	.session-header {
		margin-bottom: 1rem;
	}
	.paper-title {
		font-weight: bolder;
	}
	.paper-author {
		margin-top: 0.5rem;
		font-size: 0.95rem;
		font-style: italic;
	}

</style>